<table class="striped" *ngIf="tasks && tasks!.length > 0">
  <tbody>
    <tr *ngFor="let t of tasks">
      <td class="title-task">
        <label for="{{ t.title }}">
          <input
            *ngIf="t.status"
            type="checkbox"
            id="{{ t.title }}"
            class="filled-in"
            checked="checked"
          />
          <input
            *ngIf="!t.status"
            type="checkbox"
            id="{{ t.title }}"
            class="filled-in"
          />
          <span>{{ t.title }}</span>
        </label>
      </td>
      <td>{{ t.date | date : "dd/MM/yyyy" }}</td>
      <td class="action">
        <a class="waves-effect waves-light btn orange" (click)="onEdit(t)"
          ><i class="material-icons left">edit</i>editar</a
        >
        <a
          class="waves-effect waves-light btn orange btn-excluir"
          (click)="onDelete(t.title)"
          ><i class="material-icons left">delete</i>EXCLUIR</a
        >
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!tasks || tasks!.length == 0">
  <div class="row">
    <div class="center-align">
      <i class="col s12 material-icons large">mood_bad</i>
      <span class="col s12 flow-text"
        >Ainda não temos tarefas cadastradas!</span
      >
    </div>
  </div>
</div>
