<div class="col s12">
  <div
    id="msg-login"
    class="card-panel white-text"
    [class.red]="!this.isSuccess"
    [class.blue]="this.isSuccess"
    *ngIf="this.isShowMessage"
  >
    {{ this.message }}
  </div>
</div>
<table class="striped" *ngIf="tasks && tasks!.length > 0">
  <tbody>
    <tr *ngFor="let t of tasks">
      <td class="title-task">
        <label for="{{ t.title }}">
          <input
            *ngIf="t.status"
            type="checkbox"
            id="{{ t.title }}"
            class="filled-in"
            checked="checked"
          />
          <input
            *ngIf="!t.status"
            type="checkbox"
            id="{{ t.title }}"
            class="filled-in"
          />
          <span>{{ t.title }}</span>
        </label>
      </td>
      <td>{{ t.date | date : "dd/MM/yyyy" }}</td>
      <td class="action">
        <a
          [routerLink]="['/tarefa', t.id, 'edit']"
          class="waves-effect waves-light btn orange btn-editar"
          ><i class="material-icons left">edit</i><span>editar</span></a
        >
      </td>
      <td class="action">
        <a
          class="waves-effect waves-light btn orange btn-excluir"
          (click)="onDelete(t.id!)"
          ><i class="material-icons left">delete</i><span>excluir</span></a
        >
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!tasks || tasks!.length == 0">
  <div class="row">
    <div class="center-align">
      <i class="col s12 material-icons large">mood_bad</i>
      <span class="col s12 flow-text"
        >Ainda não temos tarefas cadastradas!</span
      >
    </div>
  </div>
</div>
