<table class="striped">
  <tbody>
    <tr>
      <td class="title-task">
        <label for="Fazer alguma coisa">
          <input
            type="checkbox"
            id="Fazer alguma coisa"
            class="filled-in"
            checked="checked"
          />
          <span>Fazer alguma coisa</span>
        </label>
      </td>
      <td>04/09/2023</td>
      <td class="action">
        <a class="waves-effect waves-light btn orange"
          ><i class="material-icons left">edit</i>EDITAR</a
        >
        <a class="waves-effect waves-light btn orange btn-excluir"
          ><i class="material-icons left">delete</i>EXCLUIR</a
        >
      </td>
    </tr>
    <tr>
      <td class="title-task">
        <label for="Fazer outra coisa">
          <input type="checkbox" id="Fazer outra coisa" class="filled-in" />
          <span>Fazer outra coisa</span>
        </label>
      </td>
      <td>11/09/2023</td>
      <td class="action">
        <a class="waves-effect waves-light btn orange"
          ><i class="material-icons left">edit</i>EDITAR</a
        >
        <a class="waves-effect waves-light btn orange btn-excluir"
          ><i class="material-icons left">delete</i>EXCLUIR</a
        >
      </td>
    </tr>
    <tr>
      <td class="title-task">
        <label for="Fazer alguma coisa 2">
          <input type="checkbox" id="Fazer alguma coisa 2" class="filled-in" />
          <span>Fazer alguma coisa 2</span>
        </label>
      </td>
      <td>12/09/2023</td>
      <td class="action">
        <a class="waves-effect waves-light btn orange"
          ><i class="material-icons left">edit</i>EDITAR</a
        >
        <a class="waves-effect waves-light btn orange btn-excluir"
          ><i class="material-icons left">delete</i>EXCLUIR</a
        >
      </td>
    </tr>
    <tr>
      <td class="title-task">
        <label for="Fazer outra coisa 2">
          <input
            type="checkbox"
            id="Fazer outra coisa 2"
            class="filled-in"
            checked="checked"
          />
          <span>Fazer outra coisa</span>
        </label>
      </td>
      <td>06/09/2023</td>
      <td class="action">
        <a class="waves-effect waves-light btn orange"
          ><i class="material-icons left">edit</i>EDITAR</a
        >
        <a class="waves-effect waves-light btn orange btn-excluir"
          ><i class="material-icons left">delete</i>EXCLUIR</a
        >
      </td>
    </tr>
  </tbody>
</table>
