table tbody tr td {
  font-size: 16px;
}
table tbody tr td.title-task {
  width: 60%;
  font-size: 16px;
}
table tbody tr td.title-task span {
  font-size: 16px;
  color: #000;
}
table tbody tr td.action {
  text-align: right;
  font-weight: bold;
  font-size: 16px;
}
table tbody tr td.action .material-icons {
  font-size: 2rem;
}
table tbody tr td a.btn-excluir {
  margin-left: 10px;
}
@media (max-width: 600px) {
  table tbody tr td,
  table tbody tr .title-task label span {
    font-size: 12px;
  }
  table tbody tr td.action {
    margin: 0 !important;
  }
  table tbody tr td a.btn-editar span {
    display: none;
  }
  table tbody tr td a.btn-excluir span {
    display: none;
  }
}
