<div
  id="message"
  class="card-panel white-text"
  [hidden]="!this.message"
  [class.red]="this.invalid"
  [class.blue]="!this.invalid"
>
  {{ this.message }}
</div>
<div class="row">
  <form class="col s12" #form="ngForm" (submit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <input
          type="text"
          id="task"
          name="task"
          class="validate"
          [(ngModel)]="this.value"
        />
        <label for="task">Título da tarefa</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input type="text" id="date" class="validate" />
        <label for="date">Data</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn orange">salvar</button>
    </div>
  </form>
</div>
